@import '../../shared-styles/variables';

.card * {
    color: #F0EAFF !important;
    text-shadow: none;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: -20px;
    overflow: hidden;
}